/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #54ccee;
}

.screen-container {
  background-color: #333131;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 */


 .app-container {
  display: flex;
}

.main-content {
  flex: 1; /* This makes the main content area grow and take up available space */
  /* padding: 16px;  */
  overflow-y: auto; /* Add scroll if content overflows */
}




 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
.App {
  height: 100vh;
  width: 100vw;
}
/* 
:root {
  --systemRed: #ff3b30;
  --systemRed-vibrant: #f53126;
  --systemRed-default_IC: #d70015;
  --systemRed-vibrant_IC: #c20618;
  --systemOrange: #ff9500;
  --systemOrange-vibrant: #f58b00;
  --systemOrange-default_IC: #c93400;
  --systemOrange-vibrant_IC: #ad3a00;
  --systemYellow: #fc0;
  --systemYellow-vibrant: #f5c200;
  --systemYellow-default_IC: #a05a00;
  --systemYellow-vibrant_IC: #925100;
  --systemGreen: #28cd41;
  --systemGreen-vibrant: #1ec337;
  --systemGreen-default_IC: #007d1b;
  --systemGreen-vibrant_IC: #007018;
  --systemMint: #00c7be;
  --systemMint-vibrant: #00bdb4;
  --systemMint-default_IC: #0c817b;
  --systemMint-vibrant_IC: #0b7570;
  --systemTeal: #59adc4;
  --systemTeal-vibrant: #2ea7bd;
  --systemTeal-default_IC: #008299;
  --systemTeal-vibrant_IC: #00778c;
  --systemCyan: #55bef0;
  --systemCyan-vibrant: #41afdc;
  --systemCyan-default_IC: #0071a4;
  --systemCyan-vibrant_IC: #006796;
  --systemBlue: #007aff;
  --systemBlue-vibrant: #0070f5;
  --systemBlue-default_IC: #0040dd;
  --systemBlue-vibrant_IC: #0040dd;
  --systemBlue-rollover: #0045b7;
  --systemBlue-pressed: #005cd7;
  --systemBlue-deepPressed: #0045b7;
  --systemBlue-disabled: rgba(0, 122, 255, 0.35);
  --systemIndigo: #5856d6;
  --systemIndigo-vibrant: #5452cc;
  --systemIndigo-default_IC: #3634a3;
  --systemIndigo-vibrant_IC: #3634a3;
  --systemPurple: #af52de;
  --systemPurple-vibrant: #9f4bc9;
  --systemPurple-default_IC: #ad44ab;
  --systemPurple-vibrant_IC: #ad44ab;
  --systemPink: #ff2d55;
  --systemPink-vibrant: #f5234b;
  --systemPink-default_IC: #d30f45;
  --systemPink-vibrant_IC: #c11032;
  --systemBrown: #a2845e;
  --systemBrown-vibrant: #987a54;
  --systemBrown-default_IC: #7f6545;
  --systemBrown-vibrant_IC: #775d3b;
  --systemGray: #8e8e93;
  --systemGray-vibrant: #848489;
  --systemGray-default_IC: #69696e;
  --systemGray-vibrant_IC: #616165;
  --systemPrimary: rgba(0, 0, 0, 0.85);
  --systemPrimary-vibrant: #4c4c4c;
  --systemPrimary-onLight: rgba(0, 0, 0, 0.85);
  --systemPrimary-onDark: hsla(0, 0%, 100%, 0.85);
  --systemPrimary-default_IC: #000;
  --systemPrimary-vibrant_IC: #000;
  --systemPrimary-onLight_IC: #000;
  --systemPrimary-onDark_IC: #fff;
  --systemSecondary: rgba(0, 0, 0, 0.5);
  --systemSecondary-vibrant: gray;
  --systemSecondary-onLight: rgba(0, 0, 0, 0.5);
  --systemSecondary-onDark: hsla(0, 0%, 100%, 0.55);
  --systemSecondary-default_IC: rgba(0, 0, 0, 0.76);
  --systemSecondary-vibrant_IC: rgba(0, 0, 0, 0.76);
  --systemSecondary-onLight_IC: rgba(0, 0, 0, 0.76);
  --systemSecondary-onDark_IC: hsla(0, 0%, 100%, 0.7);
  --systemTertiary: rgba(0, 0, 0, 0.25);
  --systemTertiary-vibrant: #bfbfbf;
  --systemTertiary-onLight: rgba(0, 0, 0, 0.25);
  --systemTertiary-onDark: hsla(0, 0%, 100%, 0.25);
  --systemTertiary-default_IC: rgba(0, 0, 0, 0.56);
  --systemTertiary-vibrant_IC: rgba(0, 0, 0, 0.56);
  --systemTertiary-onLight_IC: rgba(0, 0, 0, 0.56);
  --systemTertiary-onDark_IC: hsla(0, 0%, 100%, 0.5);
  --systemQuaternary: rgba(0, 0, 0, 0.1);
  --systemQuaternary-vibrant: #e6e6e6;
  --systemQuaternary-onLight: rgba(0, 0, 0, 0.1);
  --systemQuaternary-onDark: hsla(0, 0%, 100%, 0.1);
  --systemQuaternary-default_IC: rgba(0, 0, 0, 0.35);
  --systemQuaternary-vibrant_IC: rgba(0, 0, 0, 0.35);
  --systemQuaternary-onLight_IC: rgba(0, 0, 0, 0.35);
  --systemQuaternary-onDark_IC: hsla(0, 0%, 100%, 0.3);
  --systemQuinary: rgba(0, 0, 0, 0.05);
  --systemQuinary-vibrant: #f2f2f2;
  --systemQuinary-onLight: rgba(0, 0, 0, 0.05);
  --systemQuinary-onDark: hsla(0, 0%, 100%, 0.05);
  --systemQuinary-default_IC: rgba(0, 0, 0, 0.1);
  --systemQuinary-vibrant_IC: rgba(0, 0, 0, 0.1);
  --systemQuinary-onLight_IC: rgba(0, 0, 0, 0.1);
  --systemQuinary-onDark_IC: hsla(0, 0%, 100%, 0.1);
  --keyColor: #fa233b;
  --keyColor-rgb: 250, 35, 59;
  --keyColor-rollover: #c60007;
  --keyColor-rollover-rgb: 198, 0, 7;
  --keyColor-pressed: #e00921;
  --keyColor-pressed-rgb: 224, 9, 33;
  --keyColor-deepPressed: #c60007;
  --keyColor-deepPressed-rgb: 198, 0, 7;
  --keyColor-disabled: rgba(250, 35, 59, 0.35);
  --keyColor-default_IC: #d60017;
  --keyColor-default_IC-rgb: 214, 0, 23;
  --keyColor-rollover_IC: #a20000;
  --keyColor-rollover_IC-rgb: 162, 0, 0;
  --keyColor-pressed_IC: #b00;
  --keyColor-pressed_IC-rgb: 187, 0, 0;
  --keyColor-deepPressed_IC: #a20000;
  --keyColor-deepPressed_IC-rgb: 162, 0, 0;
  --keyColor-disabled_IC: rgba(214, 0, 23, 0.25);
  --systemStandardUltrathinMaterialSover: hsla(0, 0%, 96%, 0.36);
  --systemStandardUltrathinMaterialSover-inactive: #f0f0f0;
  --systemStandardUltrathinMaterialSover-default_IC: #d2d2d2;
  --systemStandardUltrathinMaterialSover-inactive_IC: #ececec;
  --systemStandardThinMaterialSover: hsla(0, 0%, 96%, 0.48);
  --systemStandardThinMaterialSover-inactive: #f0f0f0;
  --systemStandardThinMaterialSover-default_IC: #dcdcdc;
  --systemStandardThinMaterialSover-inactive_IC: #ececec;
  --systemStandardMediumMaterialSover: hsla(0, 0%, 96%, 0.6);
  --systemStandardMediumMaterialSover-inactive: #f0f0f0;
  --systemStandardMediumMaterialSover-default_IC: #e6e6e6;
  --systemStandardMediumMaterialSover-inactive_IC: #ececec;
  --systemStandardThickMaterialSover: hsla(0, 0%, 96%, 0.72);
  --systemStandardThickMaterialSover-inactive: #f0f0f0;
  --systemStandardThickMaterialSover-default_IC: #f0f0f0;
  --systemStandardThickMaterialSover-inactive_IC: #ececec;
  --systemStandardUltrathickMaterialSover: hsla(0, 0%, 96%, 0.84);
  --systemStandardUltrathickMaterialSover-inactive: #f0f0f0;
  --systemStandardUltrathickMaterialSover-default_IC: #fafafa;
  --systemStandardUltrathickMaterialSover-inactive_IC: #ececec;
  --systemHeaderMaterialSover: hsla(0, 0%, 100%, 0.8);
  --systemHeaderMaterialSover-default_IC: #fff;
  --systemToolbarTitlebarMaterialSover: hsla(0, 0%, 99%, 0.8);
  --systemToolbarTitlebarMaterialSover-inactive: #f0f0f0;
  --systemToolbarTitlebarMaterialSover-default_IC: #fff;
  --systemToolbarTitlebarMaterialSover-inactive_IC: #ececec;
  --labelDivider: rgba(0, 0, 0, 0.15);
  --vibrantDivider: rgba(60, 60, 67, 0.29);
  --pageBG: #fff;
  --pageBG-rgb: 255, 255, 255;
  --shelfBG: rgba(0, 0, 0, 0.05);
  --genericJoeColor: #ebebeb;
  --fallbackMaterialBG: hsla(0, 0%, 100%, 0.97);
  --liveBadgePlatterBG: #ff5066;
  --cardHoverColor: hsla(240, 3%, 49%, 0.25);
  --contextMenuBorderColor: rgba(0, 0, 0, 0.15);
  --contextMenuTextColor: rgba(0, 0, 0, 0.85);
  --contextMenuOverrideTextColor: #ff3b30;
  --dialogShadowColor: rgba(0, 0, 0, 0.25);
  --footerBg: #fbfbfb;
  --opaqueShelfBG: #f2f2f2;
  --systemGray6: #6c6c70;
  --lockupHoverBGColor: rgba(51, 51, 51, 0.3);
  --lockupChinScrim: rgba(0, 0, 0, 0.2);
  --mobileNavigationBG: #fff;
  --miniPlayerBackground: hsla(0, 0%, 100%, 0.9);
  --miniPlayerBackground-default_IC: #fafafa;
  --playerBackgroundFallback: hsla(0, 0%, 100%, 0.97);
  --playerBackgroundFallback-default_IC: #fafafa;
  --playerBackground: hsla(0, 0%, 100%, 0.88);
  --playerBackground-default_IC: #fafafa;
  --navSidebarBG: rgba(60, 60, 67, 0.03);
  --navSidebarBG-default_IC: #fafafa;
  --navSidebarSelectedState: rgba(60, 60, 67, 0.1);
  --searchBoxIconFill: rgba(0, 0, 0, 0.65);
  --bannerDarkGray: #444;
  --dropdownBackground: #575757;
  --dropdownLightGray: #707070;
  --dropdownLightGrayIcon: #999;
  --dropdownActiveOutlineColor: #06c;
  --dropdownActiveOutlineColorShadow: rgba(0, 102, 204, 0.6);
  --radiosityShadowColor: rgba(0, 0, 0, 0.1);
  --searchBarBorderColor: rgba(0, 0, 0, 0.15);
  --modalScrimColor: rgba(0, 0, 0, 0.45);
  --segmentedControlBG: hsla(240, 4%, 48%, 0.12);
  --segmentedControlBG-default_IC: rgba(0, 0, 0, 0.2);
  --segmentedControlSelectedText: rgba(0, 0, 0, 0.85);
  --segmentedControlSelectedText-default_IC: #000;
  --segmentedControlSelectedBG: #fff;
  --segmentedControlActiveBG: hsla(0, 0%, 100%, 0.7);
  --segmentedControlActiveBG-default_IC: #d9d9d9;
  --segmentedControlSelectedShadow1: rgba(0, 0, 0, 0.12);
  --segmentedControlSelectedShadow2: rgba(0, 0, 0, 0.04);
  --segmentedControlSelectedBorder: rgba(0, 0, 0, 0.15);
  --musicKeyColor: #fa233b;
  --musicKeyColor-rollover: #c60007;
  --musicKeyColor-pressed: #e00921;
  --musicKeyColor-deepPressed: #c60007;
  --musicKeyColor-disabled: rgba(250, 35, 59, 0.35);
  --musicKeyColor-default_IC: #d60017;
  --musicKeyColor-rollover_IC: #a20000;
  --musicKeyColor-pressed_IC: #b00;
  --musicKeyColor-deepPressed_IC: #a20000;
  --musicKeyColor-disabled_IC: rgba(214, 0, 23, 0.25);
  --circularArtistHeaderGradientBottom: rgba(0, 0, 0, 0.05);
  --fallbackButtonMaterial: hsla(240, 2%, 57%, 0.8);
  --playerMissingArtworkIcon: #dcdcdc;
  --playerMissingArtworkBg: #e9e9e9;
  --playerPlatterButtonBGFill: #6c6c6c;
  --playerPlatterButtonIconFill: #fff;
  --stickyHeaderDropShadow2: rgba(0, 0, 0, 0.07);
  --stickyHeaderInnerShadow: hsla(0, 0%, 100%, 0.45);
  --tracklistAltRowColor: rgba(0, 0, 0, 0.015);
  --tracklistAltRowColor-default_IC: rgba(0, 0, 0, 0.05);
  --tracklistHoverColor: rgba(0, 0, 0, 0.06);
  --tracklistHoverColor-default_IC: rgba(0, 0, 0, 0.1);
  --tracklistWorksTrackHoverColor: rgba(0, 0, 0, 0.1);
  --tracklistWorksTrackHoverColor-default_IC: rgba(0, 0, 0, 0.18);
  --trackLockupArtworkOverlay: rgba(51, 51, 51, 0.3);
  --lyricsBg: #fff;
  --nowPlayingBackdropBG: #878787;
  --keyColorBG: #fa233b;
  --keyColorBG-default_IC: #d60017;
  --selectionColor: #dd1f34;
  --selectionColor-default_IC: #d60017;
  --trackBackgroundEven: rgba(0, 0, 0, 0.02);
  --librarySongsTrackInactiveBG: rgba(0, 0, 0, 0.14);
  --profileBadgeBG: #e2e4e7;
  color-scheme: light dark;
} */

.sidebarparent {
  background-color: rgba(60, 60, 67, 0.03);
  width: 260px;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.sidebardetails svg {
  fill: #d60017;
}

.sidebarcontainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  left: 28px;
  z-index: 1000;
}

.sidebarlogo {
  margin-top: 18px;
}

.sidebarinput,
.sidebardetails {
  margin-top: 22px;
}

.sidebarinput input {
  background-color: white;
  border-color: rgba(37, 36, 36, 0.15);
  border-radius: 4px;
  outline: none;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  font-weight: 400;
  height: 32px;
  letter-spacing: 0;
  line-height: 1.25;
  padding-bottom: 5px;
  padding-top: 6px;
  width: 200px;
  padding-left: 30px;
  color: #000;
}

.sidebarinput {
  display: flex;
  justify-content: center;
  position: relative;
}

.sidebarinput svg {
  fill: rgba(0, 0, 0, 0.65);
  bottom: 0;
  margin: auto 0;
  position: absolute;
  top: 0;
  z-index: 1;
  left: 10px;
}

.sidebardetails {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.details p {
  font-size: 15px;
}

.navbarcontainer {
  position: absolute;
  top: 0;
  left: 260px;
  height: 55px;
  width: calc(100% - 260px);
  border-bottom: 1px solid #e6dada;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarthreedivs {
  width: 100%;
  display: grid;
  grid-template-columns: 28% 42% 30%;
  align-items: center;
}

.navbarthreedivs .playstopicons {
  text-align: center;
}

.navbarthreedivs .playstopicons button {
  border: none;
  color: rgba(0, 0, 0, 0.56);
  background-color: white;
}

.navbarthreedivs .playstopicons button svg {
  color: rgba(0, 0, 0, 0.56);
  opacity: 0.2;
}

.playstopicons .prevbtn {
  transform: rotate(-180deg);
  margin: 0 !important;
  text-align: center;
  padding: 0 !important;
  margin-top: -20px !important;
}

.songnamediv {
  display: flex;
  height: 45px;
  width: 100%;
  border: 1px solid rgba(180, 177, 177, 0.15);
}

.songnamediv button {
  border: none;
  height: 100%;
  width: 40px;
}

.songnamediv .songicon {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  
}

.songnamediv .songicon svg {
  opacity: 0.2;
  
}

.songnamediv .appleicon {
  margin: auto;
  opacity: 0.2;
}

.songnamediv .appleicon svg {
  opacity: 0.6;
}

.songnamediv .appleicon button {
  background-color: white;
}


.navbarcontainer .volumesigndiv {
  width: 100%;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  text-align: center;
}

.navbarcontainer .signdiv {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.volumediv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.volumediv svg {
  opacity: 0.5;
}

.volumediv input {
  opacity: 0.7;
  height: 3px;
}

.signdiv button {
  background-color: #d32e41;
  color: white;
  outline: none;
  border: none;
  align-items: center;
  border-radius: 6px;
  font-size: 13px;
  height: 28px;
  justify-content: center;
  letter-spacing: 0;
  line-height: 1.23077;
  min-width: 64px;
  width: 85px;
  padding: 0 15px 0 10px;
  white-space: nowrap;
  font-weight: 600;
}

.signdiv button svg {
  margin-right: 6px;
  fill: white;
  cursor: pointer;
}
